.App {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #fefbefdb;
  height: 100vh;
}

.blueRectangle {
  background-color: #357edd;
  margin-bottom: 10px;
  padding: 30px 40px;
  justify-content: center;
  border-radius: 20px;
}

button {
  border-color: #357edd;
  border-width: 3px;
  background-color: #fefbefdb;
  color: #357edd;
  font-family: "Open Sans", sans-serif;
  outline: none;
  font-weight: 600;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button:active {
  transform: scale(0.98);
}

.clickedButton {
  opacity: 0.5;
  cursor: not-allowed;
  border-style: dashed;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 40px;
  margin: 5px;
  background-color: #357edd;
  color: #235290;
}

.failureButton {
  background-color: #ff4136;
  border-color: #ff4136;
  color: #fefbefdb;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 40px;
  margin: 5px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: #fefbefdb;
  font-size: 50px;
  margin: 5px;
  font-weight: 700;
}

h3 {
  color: #fefbefdb;
  font-weight: 600;
}

h3.targetDisplay {
  color: #357edd;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: right;
  margin: 0 0 2rem 0;
}

.home {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  /* flex-direction: column; */
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: #fefbefdb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeBody {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginButton {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  border-width: 2px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.scoreboard {
  color: #357edd;
  margin-top: 1rem;
}

.stack {
  margin: 0;
  padding-bottom: 10px;
  color: #357edd;
  font-size: 40px;
}



.successButton {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 40px;
  margin: 5px;
  color: #fefbefdb;
  animation: colorRotate 3s linear 0s infinite;
}

.tally {
  color: #357edd
}

.targetRow {
  background-color: #fefbefdb;
  margin: 0 130px 0 130px;
}

.undoButton {
  margin-left: 10px;
  border-radius: 7px;
}

@keyframes colorRotate {
  from {
    background-color: #6666ff;
  }

  10% {
    background-color: #0099ff;
  }

  50% {
    background-color: #00ff00;
  }

  75% {
    background-color: #ff3399;
  }

  100% {
    background-color: #6666ff;
  }
}